### Intellij ###
.idea
out/

### Java ###
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### Gradle ###
.gradle
**/build/
!src/**/build/